<div class="container-fluid">

	<h1>Sou a página de posts do blog!</h1>

	<% for (let contador = 0; contador < posts.length; contador++) { %>

		<h2>
			<%= posts[contador].titulo %>
		</h2>

		<p>
			Id: <%= posts[contador].id %>
		</p>

		<p>
			Autor: <%= posts[contador].autor %>
		</p>

		<p>
			<%= posts[contador].tags %>
			<br/>
			<%= posts[contador].data %>
		</p>

		<hr />

	<% } %>

</div>
